* {
    font-family: 'Open Sans', sans-serif;
    color: #233950;
}
#menu {
    height: 3em;
}
#logo {
    height: 3em;
    float: right;
    margin-right: 40%;
}
main {
    margin-left: 10%;
    margin-right: 10%;
}
h2 {
    color: #cc9933;
}

h2, h3 {
    font-weight: bolder;
}
.img{
    height: 200px;
}
.programme{
    margin-top: 30px;
}