* {
    font-family: 'Open Sans', sans-serif;
    color: #233950;
}
header{
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
#menu {
    height: 3em;
}
#logo {
    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin: auto;
    height: 3em;
}
h2 {
    color: #cc9933;
}
h2, h3 {
    font-weight: bolder;
}
.programme{
    margin-top: 30px;
}
.button {
    background: #cc9933;
    background-image: -webkit-linear-gradient(top, #cc9933, #9e7528);
    background-image: -moz-linear-gradient(top, #cc9933, #9e7528);
    background-image: -ms-linear-gradient(top, #cc9933, #9e7528);
    background-image: -o-linear-gradient(top, #cc9933, #9e7528);
    background-image: linear-gradient(to bottom, #cc9933, #9e7528);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 20px 10px 20px;
    line-height : 75px;
    text-decoration: none;
}
.button:hover {
    background: #9e7528;
    background-image: -webkit-linear-gradient(top, #9e7528, #9e7528);
    background-image: -moz-linear-gradient(top, #9e7528, #9e7528);
    background-image: -ms-linear-gradient(top, #9e7528, #9e7528);
    background-image: -o-linear-gradient(top, #9e7528, #9e7528);
    background-image: linear-gradient(to bottom, #9e7528, #9e7528);
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    main {
        margin-left: 10%;
        margin-right: 10%;
    }
    .img{
        float: left;
        margin-right: 50px;
        width: 262px;
        height: 200px;
        object-fit: cover;
    }
    .programme{
        min-height: 250px;
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
    .img{
        width: 100%;
        object-fit: cover;
    }
    .programme{
        min-height: 250px;
    }
}